.btn::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: #EEEDED ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
   }
   
   
   .btn:hover::after {
    transform: scaleX(1.6) scaleY(1.8);
    opacity: 0;
   }